
<div>
  <h2>
    <span>Health Checks</span> {{application.name}} <span class="label" ng-class="getLabelClass(applicationStatus)"> {{ applicationStatus }} </span>
  </h2>
  <p>
    <button type="button" class="btn btn-info btn-sm" ng-click="refresh()">
      <span class="glyphicon glyphicon-refresh"></span>&nbsp;<span>Refresh</span>
    </button>
  </p>

  <div class="table-responsive">
    <table id="healthCheck" class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-7">Service Name</th>
          <th class="col-md-2 text-center">Status</th>
          <th class="col-md-2 text-center">Details</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="health in healthData">
          <td><span class="text-capitalize">{{ baseName(health.name) }}</span> {{subSystemName(health.name)}}</td>
          <td class="text-center"><span class="label" ng-class="getLabelClass(health.status)"> {{ health.status }} </span></td>
          <td class="text-center"><a class="hand" ng-click="showHealth(health)" ng-show="health.details || health.error"> <i class="glyphicon glyphicon-eye-open"></i>
          </a></td>
        </tr>
      </tbody>
    </table>

  </div>

  <button type="submit" onclick="window.history.back()" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
  </button>
</div>
