<div>

  <h2>Application Metrics</h2>
  <p>
    <button type="button" class="btn btn-info btn-sm" ng-click="refresh()">
      <span class="glyphicon glyphicon-refresh"></span>&nbsp;<span>Refresh</span>
    </button>
  </p>

  <h3>JVM Metrics</h3>
  <div class="row" ng-hide="updatingMetrics">
    <div class="col-md-4">
      <b>Memory</b>
      <p>
        <span>Total Memory</span> ({{metrics.gauges['jvm.memory.total.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.total.max'].value / 1000000 | number:0}}M)
      </p>
      <progressbar min="0" max="metrics.gauges['jvm.memory.total.max'].value" value="metrics.gauges['jvm.memory.total.used'].value" class="progress-striped active" type="success"> <span>{{metrics.gauges['jvm.memory.total.used'].value
        * 100 / metrics.gauges['jvm.memory.total.max'].value | number:0}}%</span> </progressbar>
      <p>
        <span>Heap Memory</span> ({{metrics.gauges['jvm.memory.heap.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.heap.max'].value / 1000000 | number:0}}M)
      </p>
      <progressbar min="0" max="metrics.gauges['jvm.memory.heap.max'].value" value="metrics.gauges['jvm.memory.heap.used'].value" class="progress-striped active" type="success"> <span>{{metrics.gauges['jvm.memory.heap.used'].value
        * 100 / metrics.gauges['jvm.memory.heap.max'].value | number:0}}%</span> </progressbar>
      <p>
        <span>Non-Heap Memory</span> ({{metrics.gauges['jvm.memory.non-heap.used'].value / 1000000 | number:0}}M / {{metrics.gauges['jvm.memory.non-heap.committed'].value / 1000000 | number:0}}M)
      </p>
      <progressbar min="0" max="metrics.gauges['jvm.memory.non-heap.committed'].value" value="metrics.gauges['jvm.memory.non-heap.used'].value" class="progress-striped active" type="success">
      <span>{{metrics.gauges['jvm.memory.non-heap.used'].value * 100 / metrics.gauges['jvm.memory.non-heap.committed'].value | number:0}}%</span> </progressbar>
    </div>
    <div class="col-md-4">
      <b>Threads</b> (Total: {{metrics.gauges['jvm.threads.count'].value}}) <a class="hand" ng-click="refreshThreadDumpData()" data-toggle="modal" data-target="#threadDump"><i
        class="glyphicon glyphicon-eye-open"></i></a>
      <p>
        <span>Runnable</span> {{metrics.gauges['jvm.threads.runnable.count'].value}}
      </p>
      <progressbar min="0" value="metrics.gauges['jvm.threads.runnable.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="success"> <span>{{metrics.gauges['jvm.threads.runnable.count'].value
        * 100 / metrics.gauges['jvm.threads.count'].value | number:0}}%</span> </progressbar>
      <p>
        <span>Timed Waiting</span> ({{metrics.gauges['jvm.threads.timed_waiting.count'].value}})
      </p>
      <progressbar min="0" value="metrics.gauges['jvm.threads.timed_waiting.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="warning">
      <span>{{metrics.gauges['jvm.threads.timed_waiting.count'].value * 100 / metrics.gauges['jvm.threads.count'].value | number:0}}%</span> </progressbar>
      <p>
        <span>Waiting</span> ({{metrics.gauges['jvm.threads.waiting.count'].value}})
      </p>
      <progressbar min="0" value="metrics.gauges['jvm.threads.waiting.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="warning"> <span>{{metrics.gauges['jvm.threads.waiting.count'].value
        * 100 / metrics.gauges['jvm.threads.count'].value | number:0}}%</span> </progressbar>
      <p>
        <span>Blocked</span> ({{metrics.gauges['jvm.threads.blocked.count'].value}})
      </p>
      <progressbar min="0" value="metrics.gauges['jvm.threads.blocked.count'].value" max="metrics.gauges['jvm.threads.count'].value" class="progress-striped active" type="success"> <span>{{metrics.gauges['jvm.threads.blocked.count'].value
        * 100 / metrics.gauges['jvm.threads.count'].value | number:0}}%</span> </progressbar>
    </div>
    <div class="col-md-4">
      <b>Garbage collections</b>
      <div class="row">
        <div class="col-md-9">Mark Sweep count</div>
        <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-MarkSweep.count'].value}}</div>
      </div>
      <div class="row">
        <div class="col-md-9">Mark Sweep time</div>
        <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-MarkSweep.time'].value}}ms</div>
      </div>
      <div class="row">
        <div class="col-md-9">Scavenge count</div>
        <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-Scavenge.count'].value}}</div>
      </div>
      <div class="row">
        <div class="col-md-9">Scavenge time</div>
        <div class="col-md-3 text-right">{{metrics.gauges['jvm.garbage.PS-Scavenge.time'].value}}ms</div>
      </div>
    </div>
  </div>
  <div class="well well-lg" ng-show="updatingMetrics">Updating...</div>

  <h3>HTTP requests (events per second)</h3>
  <p>
    <span>Active requests</span> <b>{{metrics.counters['com.codahale.metrics.servlet.InstrumentedFilter.activeRequests'].count | number:0}}</b> - <span>Total requests</span> <b>{{metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count
      | number:0}}</b>
  </p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Count</th>
          <th class="text-right">Mean</th>
          <th class="text-right"><span>Average</span> (1 min)</th>
          <th class="text-right"><span>Average</span> (5 min)</th>
          <th class="text-right"><span>Average</span> (15 min)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>OK</td>
          <td><progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count"
              value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count" class="progress-striped active" type="success"> <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].count}}</span>
            </progressbar></td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].mean_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m1_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m5_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.ok'].m15_rate | number:2}}</td>
        </tr>
        <tr>
          <td>Not Found</td>
          <td><progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count"
              value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count" class="progress-striped active" type="success"> <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].count}}</span>
            </progressbar></td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].mean_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m1_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m5_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.notFound'].m15_rate | number:2}}</td>
        </tr>
        <tr>
          <td>Server error</td>
          <td><progressbar min="0" max="metrics.timers['com.codahale.metrics.servlet.InstrumentedFilter.requests'].count"
              value="metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count" class="progress-striped active" type="success"> <span>{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].count}}</span>
            </progressbar></td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].mean_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m1_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m5_rate | number:2}}</td>
          <td class="text-right">{{metrics.meters['com.codahale.metrics.servlet.InstrumentedFilter.responseCodes.serverError'].m15_rate | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Services statistics (time in millisecond)</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service name</th>
          <th class="text-right">Count</th>
          <th class="text-right">Mean</th>
          <th class="text-right">Min</th>
          <th class="text-right">p50</th>
          <th class="text-right">p75</th>
          <th class="text-right">p95</th>
          <th class="text-right">p99</th>
          <th class="text-right">Max</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(k, v) in servicesStats">
          <td>{{k}}</td>
          <td class="text-right">{{v.count}}</td>
          <td class="text-right">{{v.mean * 1000 | number:0}}</td>
          <td class="text-right">{{v.min * 1000 | number:0}}</td>
          <td class="text-right">{{v.p50 * 1000 | number:0}}</td>
          <td class="text-right">{{v.p75 * 1000 | number:0}}</td>
          <td class="text-right">{{v.p95 * 1000 | number:0}}</td>
          <td class="text-right">{{v.p99 * 1000 | number:0}}</td>
          <td class="text-right">{{v.max * 1000 | number:0}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 ng-show="poolsList.length > 0">Connection pool statistics (time in millisecond)</h3>
  <div ng-repeat="pool in poolsList">
    <div class="table-responsive" ng-show="metrics.gauges[pool + '.maximumPoolSize'].value > 0">
      <h4>{{pool}}</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>Pool</span> ({{metrics.gauges[pool + '.pool.ActiveConnections'].value}} / {{metrics.gauges[pool + '.maximumPoolSize'].value}})</th>
          <th class="text-right"></th>
          <th class="text-right">Count</th>
          <th class="text-right">Mean</th>
          <th class="text-right">Min</th>
          <th class="text-right">p50</th>
          <th class="text-right">p75</th>
          <th class="text-right">p95</th>
          <th class="text-right">p99</th>
          <th class="text-right">Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <progress class="progress progress-striped active">
              <bar value="metrics.gauges[pool + '.pool.ActiveConnections'].value * 100 / metrics.gauges[pool + '.pool.TotalConnections'].value | number:0" type="success">
                <span ng-hide="metrics.gauges[pool + '.pool.ActiveConnections'].value < 1">Active ({{metrics.gauges[pool + '.pool.ActiveConnections'].value}})</span>
              </bar>
              <bar value="metrics.gauges[pool + '.pool.IdleConnections'].value * 100 / metrics.gauges[pool + '.pool.TotalConnections'].value | number:0" type="info">
                <span ng-hide="metrics.gauges[pool + '.pool.IdleConnections'].value < 1">Idle ({{metrics.gauges[pool + '.pool.IdleConnections'].value}})</span>
              </bar>
              <bar value="metrics.gauges[pool + '.pool.PendingConnections'].value * 100 / metrics.gauges[pool + '.pool.TotalConnections'].value | number:0" type="warning">
                <span ng-hide="metrics.gauges[pool + '.pool.PendingConnections'].value < 1">Pending ({{metrics.gauges[pool + '.pool.PendingConnections'].value}})</span>
              </bar>
            </progress>
            <progress class="progress progress-striped active">
              <bar value="metrics.gauges[pool + '.pool.TotalConnections'].value * 100 / metrics.gauges[pool + '.maximumPoolSize'].value | number:0">
                <span ng-hide="metrics.gauges[pool + '.pool.TotalConnections'].value < 1">Total ({{metrics.gauges[pool + '.pool.TotalConnections'].value}}/{{metrics.gauges[pool + '.maximumPoolSize'].value}})</span>
              </bar>
            </progress>
          </td>
          <td class="text-right"><dl><dt>Usage</dt><dt>Wait</dt></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].count}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].count}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].mean | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].mean | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].min | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].min | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].p50 | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].p50 | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].p75 | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].p75 | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].p95 | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].p95 | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].p99 | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].p99 | number:2}}</dd></dl></td>
          <td class="text-right"><dl><dd>{{metrics.histograms[pool + '.pool.Usage'].max | number:2}}</dd><dd>{{metrics.timers[pool + '.pool.Wait'].max | number:2}}</dd></dl></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <button type="submit" onclick="window.history.back()" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
  </button>

</div>

