<div>

  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </div>
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <button type="button" class="btn btn-info btn-sm" ng-click="refresh()">
        <span class="glyphicon glyphicon-refresh"></span>&nbsp;<span>Refresh</span>
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th class="col-sm-2 col-md-2 col-lg-2"><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"> Name <span ng-show="sortType == 'name' && sortReverse"
              class="glyphicon glyphicon-triangle-bottom"></span> <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a></th>
          <th class="col-sm-4 col-md-4 col-lg-4"><a href="#" ng-click="sortType = 'catalinaBase'; sortReverse = !sortReverse"> catalina.base <span ng-show="sortType == 'rootUrl' && sortReverse"
              class="glyphicon glyphicon-triangle-bottom"></span> <span ng-show="sortType == 'catalinaBase' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a></th>
          <th class="col-sm-1 col-md-1 col-lg-1">State</th>
          <th class="col-sm-6 col-md-6 col-lg-6"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="application in applications | orderBy:sortType:sortReverse | filter:search">
          <td><a href="{{application.rootUrl}}">{{application.name}}</a></td>
          <td>{{application.catalinaBase}}</td>
          <td><span class="label" ng-class="getLabelClass(application.statusInfo.status)"> {{ application.statusInfo.status }} </span></td>
          <td>
            <button type="submit" ui-sref="application.health({id:application.id})" class="btn btn-info btn-xs">
              <span class="glyphicon glyphicon-heart"></span></span>&nbsp;<span>Health</span>
            </button>
            <button ng-disabled="application.statusInfo.status === 'OFFLINE'" type="submit" ui-sref="application.metrics({id:application.id})" class="btn btn-info btn-xs">
              <span class="glyphicon glyphicon-dashboard"></span></span>&nbsp;<span>Metrics</span>
            </button>
            <button ng-disabled="application.statusInfo.status === 'OFFLINE'" type="submit" ui-sref="application.environment({id:application.id})" class="btn btn-info btn-xs">
              <span class="glyphicon glyphicon-dashboard"></span></span>&nbsp;<span>Environment</span>
            </button>
            <button ng-disabled="application.statusInfo.status === 'OFFLINE'" type="submit" ui-sref="application.logs({id:application.id})" class="btn btn-info btn-xs">
              <span class="glyphicon glyphicon-book"></span></span>&nbsp;<span>Logs</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
