<div class="container content">

  <div class="row">
    <div ng-show="systemProperties">
      <h4>System properties</h4>
      <div>
        <div class="input-append">
          <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-6 text-left">Name</th>
            <th class="col-md-6 text-left">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="key in keys(systemProperties) | orderBy:key | filter:searchFilter">
            <td class="col-md-6 text-left">{{key}}</td>
            <td class="col-md-6 text-left">{{systemProperties[key]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="systemEnvironment">
      <h4>System environment</h4>
      <div>
        <div class="input-append">
          <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-6 text-left">Name</th>
            <th class="col-md-6 text-left">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="key in keys(systemEnvironment) | orderBy:key | filter:searchFilter">
            <td class="col-md-6 text-left">{{key}}</td>
            <td class="col-md-6 text-left">{{systemEnvironment[key]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

