<div class="container content">

  <div class="row">
    <div ng-show="beans">
      <h4>Beans spring</h4>
      <div>
        <div class="input-append">
          <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
        </div>
      </div>
      <table class="table table-striped">
          <tr ng-repeat="bean in beans | orderBy:'bean' | filter:{bean: searchFilter}"  class="col-md-12 text-left">
            <td >
              <span>{{bean.bean}}</span>
              <ul>
                <li>{{bean.scope}}</li>
                <li>{{bean.type}}</li>
              </ul>
            </td>
          </tr>
      </table>
    </div>

  </div>

</div>

