<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li ui-sref-active="active"><a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in"> <span class="glyphicon glyphicon-home"></span> <span class="hidden-sm">monitoring</span></a></li>
        <li ui-sref-active="active"><a ui-sref="developpement" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="hidden-sm">developpement</span></a></li>
      </ul>
      <a class="navbar-brand" href="#/"><span class="navbar-version">v{{VERSION}}</span></a>
    </div>

  </div>
</nav>
